<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<div class="border-box">
  <% if @party.sent? %>
    <h1 class="party-show">Your guest list</h1>
  <% else %>
    <h1 class="party-show">Add your guests</h1>
    <p class="party-show-reminder">(Don't forget to add yourself...)</p>
  <% end %>
  <!-- allow options to be added -->
  <%= render partial:"participants/guest_list" %>
  <% if @party.giftings.empty? %>
    <%= button_to "Generate Secret Santas", {:controller => :parties, :action => :create_giftings, id: @party.encoded_id}, {:method => :get} %>
  <% end %>
</div>
