<table class="participants-guest-list">
<tr>
  <% if @party.sent? %>
    <th>Confirmed</th>
  <% end %>
  <th>Name</th>
  <th>Email</th>
</tr>

<% @participants.each do |participant| %>
  <%= render partial:"participants/edit_row", locals: { participant: participant } %>
<% end %>

<% unless @party.sent? %>
  <%= render partial:"participants/new_row"%>
<% end %>
</table>
