<table class="participants-guest-list">
  <% @participants.each do |participant| %>
    <%= render partial:"participants/edit_row", locals: { participant: participant } %>
  <% end %>
</table>
<table class="participants-guest-list">
  <% unless @party.sent? %>
    <%= render partial:"participants/new_row"%>
  <% end %>
</table>
