/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
  height: 100%;
 }

.secret-santa-application {
  height: 100%;
  width: 100%;
  background-image: url('trees_background.png'), url('snowflakes.png');
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  color: #8C1717;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

h1 {
  font-weight: normal;
  padding-bottom: 15px;
}

h2 {
  font-weight: normal;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #E22626;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #E59E9E;
  }
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #E59E9E;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #E59E9E;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #E59E9E;
}

input[type=submit] {
  border: none;
  border-radius: 4px;
  background-color: #E22626;
  font-size: 16px;
  padding: 5px 10px;
  color: white;
  margin-top: 10px;
}

input:focus, input:hover {
  outline-color: #E22626
}

form {
  padding-top: 30px;
  padding-left: 30px;
}

ul.participants-partial {
  list-style: none;
  padding-left: 30px;
}

ul.participants-partial > li {
  /*color: black;*/
}

h1.party-show {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 0;
  margin-bottom: 5px;
}

p.party-show-reminder {
  padding-left: 30px;
  margin-top: 0;
  padding-bottom: 20px;
}

input[type=submit].new-participant-partial {
  margin-top: 0;
}

form.new_participant {
  padding-top: 10px;
}

h1.participants-success {
  font-size: 60px;
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-top: 10%
}

.participant-edit-confirm {
  padding-left: 30px;
  padding-top: 30px;
  font-size: 18px;
}

.participant-edit-confirm > h2 {
  padding-bottom: 20px;
}

.participant-confirm-theme {
  padding-left: 30px;
  font-size: 16px;
  padding-top: 10px;
}

form.edit_participant {
  padding-top: 0;
}

input[type=submit].add-preferences {
  margin-top: 0;
}
