/* All Parties specific styles */

h1.party-show {
  padding-left: 20px;
  padding-bottom: 0;
  margin-bottom: 5px;
}

p.party-show-reminder {
  margin-top: 0;
  padding-left: 20px;
  padding-bottom: 20px;
}

.parties-new {
  width: 400px;
  margin: auto;
}
