/* All Parties specific styles */

h1.party-show {
  padding-left: 16px;
  padding-bottom: 0;
  margin-bottom: 5px;
}

p.party-show-reminder {
  margin-top: 0;
  padding-left: 16px;
  padding-bottom: 20px;
}

.parties-new {
  width: 400px;
  margin: auto;
}

.santas-list-confirm {
  font-size: 30px;
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-top: 10%
}

.santas-list-heading {
  text-align: center;
}

.santas-list {

  .border-box {
    width: 400px;
  }
}

.santas-list-table {
  margin: auto;
  text-align: left;

  th {
    padding-left: 20px;
    padding-right: 20px;
  }

  td {
    padding-left: 20px;
    padding-right: 20px;
  }
}
